# Run `dear` in place for easier iterative development
export PATH="${PWD}/bin:${PATH}"
export DEAR_JOURNAL_LIB_DIR="${PWD}/lib"
[ -r "${PWD}/bash-completion/dear" ] && . "${PWD}/bash-completion/dear"

# Enable automatically installing to a dir where the user is guaranteed to have
# access permissions
# This is handy for testing updates to the Makefile
export PREFIX="$HOME/.local"
