# The name of the app's installed executable and associated leaf directories
declare APP_NAME='dear'
# The name of the app as rendered in its environment variables
declare APP_SLUG='DEAR_JOURNAL'

# Run `dear` in place for easier iterative development
export PATH="${PWD}/bin:${PATH}"

declare -n LIB_DIR_NAME="${APP_SLUG}_LIB_DIR"
export LIB_DIR_NAME="${PWD}/lib"

# Disable shellcheck warning - can't parse paths containing variables
# shellcheck disable=SC1090
[ -r "${PWD}/bash-completion/${APP_NAME}" ] && . "${PWD}/bash-completion/${APP_NAME}"

# Enable automatically installing to a dir where the user is guaranteed to have
# access permissions
# This is handy for testing updates to the Makefile
export PREFIX="$HOME/.local"
